* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    line-height: 1;
}

body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 22rem;
    background-color: #1F2937;
}

header p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

header ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 2rem;
}

header ul li {
    display: flex;
    align-items: flex-end;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 3rem 22rem;
    gap: 3rem;
}

.hero .main {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.hero div {
    flex: 1;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    height: 1.8rem;
    width: 6rem;
    border-radius: 5px;
    border: none;
}

.hero .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb77;
    color: #F9FAF8
}

.info {
    padding-bottom: 3rem;
}

.info h1 {
    padding: 2rem;
    text-align: center;
}

.info .image-placeholder {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.images .container {
    width: 150px;
}

.images .container p {
    text-align: center;
    color: #797979;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 3rem 0;
}

.quote p:nth-child(1) {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    width: 800px;
    color: #1F2937
}

.quote p:nth-child(2) {
    width: 800px;
    text-align: right;
    font-weight: bold;
    padding-right: 2rem;
}

.cta {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.cta .container {
    background-color: #3882F6;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    padding: 3rem;
    width: 800px;
    border-radius: 8px;
}

.cta button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color:#F9FAF8;
    font-weight: bold;
    height: 1.8rem;
    width: 6rem;
    border-radius: 5px;
}