* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    line-height: 1;
}

body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 22rem;
    background-color: #1F2937;
}

header p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

header ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    gap: 2rem;
}

header ul li {
    display: flex;
    align-items: flex-end;
}

.hero {
    background-color: #1F2937;
    display: flex;
    padding: 5rem 22rem;
    gap: 3rem;
}

.hero .main {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.hero div {
    flex: 1;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    height: 1.8rem;
    width: 6rem;
    border-radius: 5px;
    border: none;
}

.hero .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb77;
    color: #F9FAF8
}

.info h1 {
    padding: 2rem;
    text-align: center;
}

.info .image-placeholder {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.images .container {
    width: 150px;
}

.images .container p {
    text-align: center;
    color: #797979;
}